<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>feltabout</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css'/>
    <link rel='stylesheet' href='/styles/feltabout.css' />
    <!-- <link rel="icon" href="images/favicon.png" /> -->    
</head>
<body>
    <div id="front" class="page">
      <div id="front-top">
        <img id="logo" src='/feltabout.svg' />
      </div>
      <div id="front-bottom">
        <button id="login-button" type="button">Log In</button>      
        <button id="signup-button" type="button">Sign Up</button>  
      </div>
    </div>
    <div id="login" class="page">
      <div id="login-top">
        <h2 id="login-heading">Log In</h2>
        <form name="login-form">
          <label id="user-label" for="user">User</label>
          <input id="user" type="text">
          <label id="password-label" for="password">Password</label>
          <input id="password" type="password">
          <button id="login-submit-button" type="button">Log In</button>        
        </form>
      </div>
    </div>
    <div id="signup" class="page">
      <div id="signup-top">
        <h2 id="signup-heading">Sign Up</h2>
        <form name="signup-form">
          <label id="signup-user-label"    
                 for="signup-user">New User:</label>
          <input id="signup-user" type="text">
          <label id="signup-password-label" 
                 for="signup-password">Password:</label>
          <input id="signup-password" type="password">
          <label id="signup-verify-label"
                 for="signup-verify">Verify Password:</label>
          <input id="signup-verify" type="password">
          <button id="signup-submit-button" type="button">Sign Up</button> 
        </form>
      </div>
    </div>
    <div id="expressions">
    </div>
    <div id="expression">
    </div>     
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/scripts/feltabout.js?d=2019.09.18">


    </script>    
</body>
</html>

