<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>feltabout</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css'/>
    <link rel='stylesheet' href='/styles/feltabout.css?d=2' />
    <!-- <link rel="icon" href="images/favicon.png" /> -->    
    <script src="https://kit.fontawesome.com/61be575e18.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="front" class="page">
      <div id="front-top">
        <img id="front-logo" src='/feltabout.svg' />
      </div>
      <div id="front-bottom">
        <button id="front-login-button" type="button">Log In</button>      
        <button id="front-signup-button" type="button">Sign Up</button>  
      </div>
    </div>
    <div id="signup" class="page">
      <div id="signup-top">
        <h2 id="signup-heading">Sign Up</h2>
        <form id="signup-form" name="signup-form">
          <label id="signup-user-label" for="signup-user">New User:</label>
          <input id="signup-user" name="signup-user" type="text">
          <label id="signup-password-label" 
                 for="signup-password">Password:</label>
          <input id="signup-password" name="signup-password" type="password">
          <label id="signup-verify-label"
                 for="signup-verify">Verify Password:</label>
          <input id="signup-verify" name="signup-verify" type="password">
          <button id="signup-submit-button" type="button">Sign Up</button>
          <div id="signup-error-message"></div>
        </form>
      </div>
    </div>
    <div id="login" class="page">
      <div id="login-top">
        <h2 id="login-heading">Log In</h2>
        <form id="login-form" name="login-form">
          <label id="login-user-label">User</label>
          <input id="login-user" name="login-user" type="text">
          <label id="login-password-label">Password</label>
          <input id="login-password" name="login-password" type="password">
          <button id="login-submit-button" type="button">Log In</button>   
          <div id="login-error-message"></div>     
        </form>
      </div>
    </div>
    <div id="connections" class="page">
    <div id="connections-top">
      <h2 id="connections-heading"></h2>
      <table id="connections-table">
        <tr>
          <td></td>
        </tr>
      </table>
    </div>
    </div>
    <div id="connection" class="page">
    </div>
    <div id="expressions" class="page">
    </div>
    <div id="expression" class="page"> 
    </div>  
    <div id="error" class="page">
    </div>   
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/scripts/feltabout.js?d=2019.09.21a"></script>    
</body>
</html>
